<!DOCTYPE html>
<html lang="en">
<head><%- include('../../layouts/head');%></head>
<body>
	<header><%- include('../../layouts/header');%></header>
	<div class="d-flex justify-content-center container">
		<table class="table table-striped table-hover">
			<tr>
				<th>Título: </th>
				<td><%=noticia[0].titulo_noticia%></td>
			</tr>
			<tr>
				<th>Resumen:</th>
				<td><%=noticia[0].resumen_noticia%></td>
			</tr>
			<tr>
				<th>Imagen:</th>
				<td><img src="<%=noticia[0].imagen_noticia%>" alt="" style="width:200px"></td>
			</tr>
			<tr>
				<th>Contenido:</th>
				<td><%=noticia[0].contenido_html%></td>
			</tr>
			<tr>
				<th>Publicada:</th>
				<td><%=noticia[0].publicada?'Si':'No'%></td>
			</tr>
			<tr>
				<th>Fecha de Publicación:</th>
				<td><%=noticia[0].fecha_publicacion%></td>
			</tr>
			<tr>
				<th>Empresa:</th>
				<td>
		 			<a href="/admin/empresa/view/id/<%=noticia.id_empresa%>" class="link-noticia"><%=noticia[0].denominacion%></a>
		 		</td>
			</tr>
		</table>
	</div>
	<div class="d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-warning" onclick="window.history.go(-1)"><i class="fa fa-reply"></i>
        Volver</button>
    </div>

	<footer><%- include('../../layouts/footer');%></footer>
</body>
</html>